<mat-card class="user-detail-header">
<div class="d-flex">
    <img [src]="currentUser.image">

    <div class="user-details">
        <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2> 
        <div>{{currentUser.email}}</div>
    </div>
</div>
</mat-card>

<mat-card class="mt-32">
    
    <mat-card-title>
    persönliche Angaben
    </mat-card-title>
    <mat-card-content>
       <div class="container-details">
<div class="details-row">
    <div class="col-1">Alter</div>
    <div>{{currentUser.age}}</div>
</div>
<div class="details-row">
    <div class="col-1">Geschlecht</div>
    <div>{{currentUser.gender}}</div>
</div>
<div class="details-row">
    <div class="col-1">Geburtstag</div>
    <div>{{currentUser.birthDate}}</div>
</div>
       </div>
    </mat-card-content>
</mat-card>